*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#fbfafa;
    overflow:hidden;
}

.card{
    position:relative;
    width:380px;
    height:240px;

    background:#fffdfd;

    border:2px solid #020202;

    border-radius:22px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    color:#0e0d0d;

    overflow:hidden;

    box-shadow:
    0 0 10px #0a0a0a,
    0 0 30px rgba(255,255,255,.35),
    inset 0 0 20px rgba(255,255,255,.08);

    transition:.4s;
}

.card:hover{

    transform:translateY(-8px) scale(1.03);

    box-shadow:
    0 0 25px #070707,
    0 0 60px rgba(255,255,255,.7),
    0 0 120px rgba(255,255,255,.3);
}

.glow{

    position:absolute;

    width:250px;
    height:250px;

    background:radial-gradient(circle,#ffffff55,transparent 70%);

    animation:rotate 6s linear infinite;
}

h1{

    font-size:38px;

    letter-spacing:2px;

    z-index:2;

    text-shadow:0 0 10px rgb(5, 5, 5);
}

p{

    margin-top:12px;

    color:#090909;

    z-index:2;
}

button{

    margin-top:28px;

    padding:12px 28px;

    border:none;

    border-radius:30px;

    background:rgb(7, 7, 7);

    color:rgb(253, 250, 250);

    cursor:pointer;

    font-weight:bold;

    transition:.3s;

    z-index:2;
}

button:hover{

    background:rgb(252, 250, 250);

    color:rgb(10, 10, 10);

    border:1px solid rgb(9, 9, 9);

    box-shadow:0 0 20px rgb(9, 9, 9);
}

@keyframes rotate{

0%{
transform:rotate(0deg);
}

100%{
transform:rotate(360deg);
}

}